MONGO_URL=mongodb+srv://develophasan:V0fAcgRVEzNX8xhw@cluster0.honwvwe.mongodb.net/habitgrove?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET_KEY=habitgrove-secret-key-2024-sustainability-platform
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30 